@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;

}

html, body{
  
  background: radial-gradient(142% 91% at 83% 7%, #041313FF 1%, #FF000000 99%);
  background: radial-gradient(142% 91% at 152% 84%, #1b4e3eff 0%, #070415FF 100%);
}

#page {
  background: radial-gradient(142% 91% at 83% 7%, #041313FF 1%, #FF000000 99%);
  background: radial-gradient(142% 91% at 152% 84%, #1b4e3eff 0%, #070415FF 100%);
  height: 100%;
  width: 100%
}

#page>.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 1rem 5em;
  overflow: hidden;
}

.container>nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  line-height: 100px;
  z-index: 1111;
}

nav>.logo {
  height: 100%;
}

.logo>.image {
  height: inherit;
  filter: invert(1);
}

ul {
  display: flex;
}

ul>li {
  list-style: none;
  margin: 0 20px;
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-wrap: nowrap;
}

ul>li:hover,
.options>i:hover {
  color: rgba(92, 243, 192, 0.626);
  cursor: pointer;
}

.options {
  font-size: 1.5rem;

}

.options>i {
  margin: 0 10px;
}

.wrapper {
  position: relative;
  height: inherit;
  width: 100%;
  display: flex;
  padding: 2em;
}

.wrapper>.cols {
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper>.cols title {
  font-size: 6em;
  font-weight: 900;
  text-wrap: nowrap;
}

.wrapper>.cols .desc {
  margin-top: 0.5em;
  font-size: 1.1rem;
  font-weight: 300;
  max-width: 35vw;

}

.wrapper>.cols .desc:hover {
  color: rgba(92, 243, 192, 0.626);
  cursor: pointer;
}

span {
  display: block;
  font-size: 3em;

}

.cols>span .price {
  position: relative;
  margin-top: 8em;
}

button {
  margin-top: 2rem;
  padding: 8px;
  background-color: black;
  border: 2px solid rgba(92, 243, 192, 0.626);
  border-radius: 20px;
}

button:hover {

  background-color: rgba(92, 243, 192, 0.626);
  border: 2px solid white;
  border-radius: 20px;
}

.cols_image {
  position: relative;
  width: 50%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoes {
  position: relative;
  left: -100px;
  height: 300px;
  width: 300px;
}

.cols_image {
  position: absolute;
  height: 80%;
  width: auto;
  object-fit: contain;
  transform: scale(1) rotate(-20deg);

} 




/* Legacy Mode */

  #page1 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legacy{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leg_text1{
  font-size: 4em;
}

.leg_text2{
  font-size: 2rem;
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap; 
  max-width: 100%;
  padding: 20px;
  border: 2px white;
}

.left-container {

  height: 400px;
  width: 400px;
  position: absolute;
  right: 150px;
 
}

.leg1{
  display: flex;
  flex-direction: column;

}

.showcase > hr {
  position: absolute;
  top: 10px;
  bottom: 0;
  width: 2px;
  background-color: white;
  border: none;
}

.right-container {
  height: 200px;
  width: 300px;
  position: absolute;
  left: 150px;

}

.leg2{
  display: flex;
  flex-direction: column;
} 

.leg1 img {
  width: 350px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 35px rgba(234, 196, 6, 0.8); /* Red glow */
  transition: transform 0.3s ease-in-out;
}

.leg1 img:hover {
  transform: scale(1.05);
}

.leg2 img {
  margin-top: 20px;
  width: 350px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 35px rgba(234, 196, 6, 0.8); /* Red glow */
  transition: transform 0.3s ease-in-out;
}

.leg2 img:hover {
  transform: scale(1.05);
}



.leg1 p {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  line-height: 1.6;
  max-width: 300px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

.leg2 p {
  margin-bottom: 45px;
  font-size: 2.2rem;
  text-align: start;
  line-height: 1.6;
  max-width: 300px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

#page2 {

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page3 {

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page4 {

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
